[submodule "nushell/share/nu_scripts"]
	path = nushell/share/nu_scripts
	url = https://github.com/nushell/nu_scripts
[submodule "nixos"]
	path = nixos
	url = https://github.com/ethanavatar/my-nixos
[submodule "nvim"]
	path = nvim
	url = https://github.com/ethanavatar/nvim-config
[submodule "nvim-minimal"]
	path = nvim-minimal
	url = https://github.com/ethanavatar/nvim-config
	branch = nvim-minimal
